<div class="container mt-5">
    <!-- Card principal -->
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header text-center bg-dark" style="color: #f6f8fa;">
            <h5><b>Friends Blocked</b></h5>
        </div>
        <div class="card-body">
            <p><b>Friends: </b></p>
            <ul class="list-group" id="results-list">
                <!-- Aquí se cargará la lista de amigos esperando dinámicamente -->
            </ul>
        </div>
    </div>
</div>
