<div class="container mt-5">
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header text-center bg-dark" style="color: #f6f8fa;">
            <h5><b>FriendRequest</b></h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center vh-50">
                <form class="w-100" id="deleteFriendForm">
                    <!-- Texto de confirmación -->
                    <p class="text-center">Do you want to send a friendship request to <mark id="friend-name"> </mark>?</p>
                    
                    <!-- Botones de confirmación -->
                    <div class="d-flex justify-content-around mt-3">
                        <button type="button" class="btn btn-success spa-route" id="yes-botton" style="border: solid black;" data-path="/Logged">Yes</button>
                        <button type="button" class="btn btn-danger spa-route" style="border: solid black;" data-path="/Logged">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<script>
    const selectedUser = localStorage.getItem('selectedUser');
    console.log(selectedUser);
    document.getElementById('friend-name').textContent = selectedUser; 
// Este script se ejecuta cuando la página se ha cargado completamente

</script>-->
